.fp{

width:100%;
max-width:1024px;
display:flex;
overflow:hidden;
justify-content:space-between;
gap:20px



}
.fpimg{
      width: 100%;
  height: 250px;
  object-fit: cover;
}
.fpTItem{

    flex:1;
    gap:!0x;
    display:flex;
    flex-direction:column
}
.fpName{
    color:#333;
    font-weight:bold
}
.fpcity{
     font-weight: 300; 
}
.fpPrice{
 font-weight: 500;
}

.fpRating>button{
     background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}
.fpRating>span{
  font-size: 14px;
}